.weather-app {
  border: 5px solid #d3e3d1 !important;
  background-color: #b6cdbd;
  padding: 15px;
  margin: 20px auto;
  border-radius: 50px !important;
  max-width: 600px;
} 
a {
  text-decoration: none;
}
.unit a {
  color: black;
}
.unit a:hover {
  color: rgb(17, 101, 97);
}

footer {
  text-align: center;
}
