body {
  font-family: sans-serif;
  color: #324434 !important;
}
.weather-app {
  border: 2px solid grey;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.list {
  list-style-type: none;
}
.current {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

.fCity {
  color: #324434;
}
.fCity:hover {
  color: white;
  cursor: pointer;
}
